*{
    padding: 2rem;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}


#header{
    border-bottom: 1px solid #CBCBCB ;
    padding: 16px 80px 16px 80px;
}

.leaderboard-container{
  max-width: 600px;
  margin: auto;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.podium{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: 3px;

}

.rank{
     background: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  align-items: center;

}

.rank-1{
    background-color: gold;
    padding-top: 2rem;
    transform: translateY(-20px);
}

.rank-number{
    font-weight: bold;
    font-size: 1.2rem;

}

.score-label{
    font-weight: bold;
    margin: 0;

}

.score-value{
    font-weight: bold;
    font-size: 1.2rem;
}

.lower-ranks{
    margin-top: 1rem;
}

.row{
      background: #fff;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  font-weight: 500;

}