*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.quiz-app{
    display: flex;
    justify-content: space-between;
    
    padding: 30px;

}

.quiz-logo{
    padding: 57px;
    
}

